@import "tailwindcss";

:root {
  --background: oklch(16.416% 0.05419 261.681);
  --foreground: #ffffff;
  --primary: oklch(0.7562 0.0036 247.87);
  --accent: oklch(0.796 0.134248 202.7134);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
 */

body {
  background: var(--background);
  color: var(--foreground);
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.spinner-mini {
  margin: 0;
  width: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 2px solid var(--primary);
  border-right-color: transparent;
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}

.spinner-inset {
  width: 48px;
  height: 48px;
  border: 3px solid var(--primary);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.spinner-inset::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid;
  border-color: var(--accent) transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.dots-loader {
  position: relative;
}

.dots-loader::after {
  content: "";
  width: 2px;
  height: 2px;
  background: currentColor;
  position: absolute;
  bottom: 8px;
  right: -5px;
  box-sizing: border-box;
  animation: dotsLoader 1.25s linear infinite;
}

@keyframes dotsLoader {
  25% {
    box-shadow:
      10px 0 rgba(255, 255, 255, 0),
      20px 0 rgba(255, 255, 255, 0);
  }

  50% {
    box-shadow:
      10px 0 var(--primary),
      20px 0 rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow:
      10px 0 var(--primary),
      20px 0 var(--primary);
  }
}

.delete-loader {
  display: inline-block;
  position: relative;
  font-size: 24px;
  box-sizing: border-box;
}

.delete-loader::after {
  content: "";
  width: 3px;
  height: 3px;
  background: currentColor;
  position: absolute;
  bottom: 10px;
  right: -7px;
  box-sizing: border-box;
  animation: animloader 1.25s linear infinite;
}

@keyframes animloader {
  25% {
    box-shadow:
      10px 0 rgba(255, 255, 255, 0),
      20px 0 rgba(255, 255, 255, 0);
  }

  50% {
    box-shadow:
      10px 0 white,
      20px 0 rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow:
      10px 0 white,
      20px 0 white;
  }
}

/* classi effetto shimmer per skeleton loader */
.skeleton-hero {
  position: relative;
  overflow: hidden;
}

.skeleton-hero::after {
  content: "";
  position: absolute;
  inset: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.2) 20%,
    rgba(255, 255, 255, 0.4) 60%,
    rgba(255, 255, 255, 0)
  );
  animation: shimmer-hero 1s infinite;
}

@keyframes shimmer-hero {
  100% {
    transform: translateX(100%);
  }
}

/* classe per animazione ping come Tailwind ma singola (per icona copia su clipboard) */
.ping-once {
  animation: ping-once 0.5s cubic-bezier(0, 0, 0.2, 1);
}

@keyframes ping-once {
  75%,
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

.shimmer-image {
  opacity: 0.75;
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, #818896 25%, #d1d9e2 37%, #818896 63%);
  background-size: 200% 100%;
  animation: shimmer 1.6s linear infinite;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
